# Python Grundlagen

Ziel dieser Übung ist es die folgenden Grundlagen zu Python und Jupyter zu vermitteln:
 - [Code kommentieren](#commenting)
 - [Deklaration von Variablen](#variablen)
 - [Arithmetische Operationen](#arithmetik)
 - [Namenskonventionen](#naming)
 - [Listen, Sets, Tuple, Dictionaries](#datatypes)
 - [If-Else Abfragen](#ifelse)
 - [While Schleife](#whileloop)
 - [For Schleife](#forloop)
 - [Range Operator](#range)
 - [Definition eigener Funktionen](#functions)
 - [Lambdas](#lambdas)
 - [Grundlagen in Pandas](#pandas)

Dieses Material wird im Rahmen der Lehrveranstaltung _Informationssysteme und Datenanalyse_ von der
Gruppe [Database Systems and Information Management](https://www.dima.tu-berlin.de/menue/database_systems_and_information_management_group) (DIMA) der TU Berlin zur Verfügung gestellt.

<a id="commenting"></a>
## Code kommentieren

In [1]:
print(4-5)
print("ich bin")

-1
ich bin

In [2]:
# dies ist ein einzeiliger Kommentar
print('hello world') # Zeichen nach dem "#" Symbol werden vom Python Interpreter ignoriert

hello world

In [3]:
"""
Ein Kommentar 
über
mehrere 
Zeilen.
"""
print("hello world")
print("Hallo Welt!")

hello world
Hallo Welt!

<a id="variablen"></a>
## Deklaration von Variablen

Variablen können beliebige Werte annehmen. Typ oder Größe müssen nicht vorher definiert werden.
Python differenziert zwischen Groß- und Kleinschreibung und benötigt, anders als bei Java oder C, kein Semikolon am Ende eines Befehls.

Die Variable, die den Wert annehmen soll, steht auf der linken Seite. Der neue Wert der Variable steht auf der rechten Seite.

In [4]:
abasdx = 3 # integer
x=2.4
y = 3. # floating point number
z = "Hello" # ein string definiert mit ""
# ein string, in der Variablen Z definiert mit ''
Z = 'World!'

print(x, type(x))
print(y, type(y))
print(z, type(z))
print(Z, type(Z))

Z = 23.5
print(Z, type(Z))

2.4 <class 'float'>
3.0 <class 'float'>
Hello <class 'str'>
World! <class 'str'>
23.5 <class 'float'>

In [5]:
# bool Werte werden mit False oder True deklariert
f = False
t = True

print(f, type(f))
print(t, type(t))

False <class 'bool'>
True <class 'bool'>

<a id="arithmetik"></a>
## Arithmetische Operationen

In [6]:
i = 5
j = 3
print("Summe : ", i+j)
print("Differenz : " , i-j)
print("Produkt : " , i*j)
print("Potenz : ", i**j)
print("Modulo : " , i%j)
print("Floor Division : " , i//j)
print("Float Division : " , i/j)
result = i/j
type(result)

Summe :  8
Differenz :  2
Produkt :  15
Potenz :  125
Modulo :  2
Floor Division :  1
Float Division :  1.6666666666666667

float

<a id="naming"></a>
## Namenskonventionen

Ein gängiger Guide zu korrektem Code Style sind die Vorgaben von PEP8:
https://www.python.org/dev/peps/pep-0008/

Variablen und Funktionen sollten folgende Konvention beachten: <br>
snake_case <br>
lower_case_with_underscore

Allerdings wird auch **camelCase** häufiger gesehen.

In [7]:
# snake_case
mein_string = "hallo123"
mein_zweiter_string = "hallo345"
# camelCase
meinDritterString = "hallo567"

print(mein_string)
print(mein_zweiter_string)
print(meinDritterString)

hallo123
hallo345
hallo567

<a id="datatypes"></a>
## Listen, Sets, Tuple, Dictionaries
**Listen** <br> sind Sammlungen von Elementen und behalten die Reihenfolge bei. Listen haben eine variable Größe.

In [8]:
meine_liste = [87, 43, 1, 4, 321, 5, 2, 21, 1, 32, 1, 43]
print(meine_liste, type(meine_liste))

#Einfügen von einem Element in eine Liste
meine_liste.append(43)
print(meine_liste, type(meine_liste))

#Zusammenführen von zwei Listen
meine_liste.extend([34, 21, 74, 146])
print(meine_liste, type(meine_liste))

meine_liste[4:-1]

meine_liste[4]

[87, 43, 1, 4, 321, 5, 2, 21, 1, 32, 1, 43] <class 'list'>
[87, 43, 1, 4, 321, 5, 2, 21, 1, 32, 1, 43, 43] <class 'list'>
[87, 43, 1, 4, 321, 5, 2, 21, 1, 32, 1, 43, 43, 34, 21, 74, 146] <class 'list'>

321

**Sets** <br> sind unsortiere, duplikat-freie Sammlungen von Elementen.

In [9]:
mein_set = {87, 43, 1, 4, 321, 5, 2, 21, 1, 32, 1, 43}
print(mein_set, type(mein_set))

# hinzüfügen eines Elementes
mein_set.add(56)
print(mein_set, type(mein_set))

# entfernen
mein_set.remove(321)
print(mein_set, type(mein_set))

# zusammenführen von zwei Sets
mein_set.update({32, 653, 12, 723, 145})
print(mein_set, type(mein_set))

{32, 321, 1, 2, 4, 5, 43, 21, 87} <class 'set'>
{32, 321, 1, 2, 4, 5, 43, 21, 87, 56} <class 'set'>
{32, 1, 2, 4, 5, 43, 21, 87, 56} <class 'set'>
{32, 1, 2, 4, 5, 43, 12, 653, 145, 723, 21, 87, 56} <class 'set'>

**Tuple** <br>
sind wie Listen, die nicht verändert werden können

In [10]:
mein_tuple = (1, 5, 1, 4)
print(mein_tuple, type(mein_tuple))
# erstes Element
print(mein_tuple[0])
# letztes Element
print(mein_tuple[len(mein_tuple)-1])

(1, 5, 1, 4) <class 'tuple'>
1
4

**Dictionaries (aka Maps)** <br>
sind Key/Value Paare. Keys sind einzigartig in einem dict. Values können mehrmals vorkommen.

In [11]:
woerter = {"house" : "Haus", "cat":"Katze", "black":"schwarz", "wohnung": "Haus", "house" : "heizung"}

print(woerter["house"])

# es können auch Keys verändert werden
woerter.pop("house")
woerter["river"] = "Fluss"
woerter["cat"] = "Veraenderte Katze"

print(woerter)

heizung
{'cat': 'Veraenderte Katze', 'black': 'schwarz', 'wohnung': 'Haus', 'river': 'Fluss'}

<a id="ifelse"></a>
## If-Else Abfragen
In Python werden Blöcke mit Einrückungen definiert. Eine Einrückung besteht aus 4 Leerzeichen.
In C oder Java werden Blöcke in { } gekennzeichnet.
Hinweis: Python IDEs lösen in der Regel Tab automatisch in 4 Leerzeichen auf.

In [12]:
a = 3 + 18
b = 4**2

if a>b:
    print("a groesser b")
    print("a > b")
elif a<b:
    print("a kleiner b")
    print("a < b")
else:
    print("a gleich b")
    print("a == b")

a groesser b
a > b

In [13]:
elemente = [1, 34, 442 , 6, 12]

if 1 in elemente:
    print(str(1) + " ist in der Liste")
    if 34 in elemente:
        print(str(34) + " ist auch in der Liste")
else:
    print("Element nicht gefunden")

1 ist in der Liste
34 ist auch in der Liste

<a id="whileloop"></a>
## While Schleife

In [14]:
i = 2
words = ['katze', 'fenster', 'haus']

while i >= 0:
    print(words[i])
    i = i-1

haus
fenster
katze

<a id="forloop"></a>
## For Schleife

In [15]:
words = ['katze', 'fenster', 'haus']
for w in words:
    print(w, len(w))

katze 5
fenster 7
haus 4

<a id="range"></a>
## Range Operator

In [16]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [17]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [18]:
for i in range(100, 20, -5):
    print(i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25

<a id="functions"></a>
## Definition eigener Funktionen

In [19]:
# Iterative Methode ohne Ausgabe
def fib(n):
    n1, n2 = 0, 1
    count = 0

    # Validiere die Eingaben
    if n <= 0:
       print("Falsche Eingabe!")
    elif n == 1:
       print("Fibonacci bis",n,":")
       print(n1)
    else:
       print("Fibonacci:")
       while count < n:
           print(n1)
           nth = n1 + n2
           # update Werte
           n1 = n2
           n2 = nth
           count += 1

print(fib(14))

fib(3)

Fibonacci:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
None
Fibonacci:
0
1
1

In [20]:
# Rekursive Methode mit Ausgabe
def fib(n): 
    if n<0: 
        print("Falsche Eingabe!") 
    # Erste Zahl ist 0 
    elif n==1: 
        return 0
    # Zweite Zahl ist 1 
    elif n==2: 
        return 1
    else: 
        return fib(n-1)+fib(n-2) 

print(fib(14))

233

In [21]:
# Methode mit mehreren Eingabeparametern
def summe(a, b, c, d):
    return a+b+c+d;
summe(2, 2, 15, 10)

29

<a id="lambdas"></a>
## Lambdas
Lambdas sind kleine anonyme Funktionen mit nur einem Ausdruck

In [22]:
# Lambda mit einem Parameter
l1 = lambda a: a + 10
print(l1(23)) 

def add10(n):
    return n + 10
add10(22)

33

32

In [48]:
l = [1,3,7,5]

def average(list):
    summe = 0
    for i  in list:
        summe = summe + i
    
    return summe / len(list)

average(l)

lol = [[1, 5,8], [3,4,8], [5,9,3]]

print(lol[1][1])

for li in lol:
    print(average(li))

4
4.666666666666667
5.0
5.666666666666667

In [24]:
# Lambda mit mehreren Parametern
l2 = lambda a, b : a * b
print(l2(15, 6))

90

In [53]:
liste = [1,2,3]

def quad(x):
    return x**2

print(list(map(lambda x: x**2, liste)))
print(list(map(quad, liste)))

[1, 4, 9]
[1, 4, 9]

<a id="pandas"></a>
## Grundlagen in Pandas
Hier ist eine kurze Einführung in Pandas:
https://pandas.pydata.org/pandas-docs/stable/index.html

In [25]:
# dependencies importieren
import pandas as pd
import numpy as np
pd.__version__

'1.0.1'

In [26]:
# dataframe erzeugen mit numpy array
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2013-01-01 -0.924962  0.800861  1.214658  1.024044
2013-01-02 -0.193301 -1.989758  0.589646 -0.624829
2013-01-03 -0.888698 -0.155646  0.701099 -0.066879
2013-01-04  0.286395 -1.064035 -0.244785 -1.037588
2013-01-05 -1.487872  1.519862  0.545220 -1.579818
2013-01-06  0.168537 -0.495977  0.421460  0.625400

In [27]:
# dataframe mit einem dict erzeugen
df = pd.DataFrame({'A': 1., 
                   'B': pd.Timestamp('20130102'),
                   'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                   'D': np.array([3] * 4, dtype='int32'),
                   'E': pd.Categorical(["test", "train", "test", "train"]),
                   'F': 'foo'})
print(df)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [28]:
# ersten drei Zeilen anzeigen
print(df.head(3))

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo

In [67]:
# letzten zwei Zeilen anzeigen
print(df.tail(2))

def tail_df(dfr, lines):       
    output = []
    
    for i in range(len(dfr) - lines, len(dfr)):
        output.append(dfr.iloc[[i]])
        
    return pd.concat(output)
    
tail_df(df, 3)

    x   y   z
e  66  33  27
f  77  35  11

    x   y   z
d  55  32  22
e  66  33  27
f  77  35  11

In [30]:
# Statistiken numerischer Felder
df.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [31]:
# Projektion auf den Statistiken
df.describe()["A"]

count    4.0
mean     1.0
std      0.0
min      1.0
25%      1.0
50%      1.0
75%      1.0
max      1.0
Name: A, dtype: float64

In [32]:
# Selektion
df[df['A'] > 0]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [33]:
# Selektion nach Index und Update der Spalte
df.loc[:, 'D'] = np.array([5] * len(df))
print(df)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  5   test  foo
1  1.0 2013-01-02  1.0  5  train  foo
2  1.0 2013-01-02  1.0  5   test  foo
3  1.0 2013-01-02  1.0  5  train  foo

In [34]:
# Funktionen anwenden

# Liste von Tuplen
matrix = [(22, 34, 23),
         (33, 31, 11),
         (44, 16, 21),
         (55, 32, 22),
         (66, 33, 27),
         (77, 35, 11)
         ]
 
# DataFrame object erzeugen
df = pd.DataFrame(matrix, columns=list('xyz'), index=list('abcdef'))
print(df)

# jetzt quadrieren wir alle elemente in z
df['z'] = df['z'].apply(lambda x: x**2)
print(df)

    x   y   z
a  22  34  23
b  33  31  11
c  44  16  21
d  55  32  22
e  66  33  27
f  77  35  11
    x   y    z
a  22  34  529
b  33  31  121
c  44  16  441
d  55  32  484
e  66  33  729
f  77  35  121

In [35]:
# nur Zeile b und c quadrieren
# Liste von Tuplen
matrix = [(22, 34, 23),
         (33, 31, 11),
         (44, 16, 21),
         (55, 32, 22),
         (66, 33, 27),
         (77, 35, 11)
         ]
 
# DataFrame object erzeugen
df = pd.DataFrame(matrix, columns=list('xyz'), index=list('abcdef'))
df = df.apply(lambda x: x**2 if x.name in ['b', 'c'] else x, axis=1)
print(df)

      x    y    z
a    22   34   23
b  1089  961  121
c  1936  256  441
d    55   32   22
e    66   33   27
f    77   35   11

In [36]:
var = 4 if True else 3
print(var)

4

**Nun etwas SQL auf den Pandas-Dataframes**

In [37]:
import sqlalchemy
from sqlalchemy import create_engine

engine = create_engine('sqlite://', echo=False)

matrix = [(22, 34, 23),
         (33, 31, 11),
         (44, 16, 21),
         (55, 32, 22),
         (66, 33, 27),
         (77, 35, 11)
         ]
 
# DataFrame object erzeugen
df = pd.DataFrame(matrix, columns=list('xyz'), index=list('abcdef'))
print(df)

df.to_sql('numbers', con=engine)
print("Ergebnis:")
engine.execute("SELECT * FROM numbers WHERE x<35 AND y > 30").fetchall()

    x   y   z
a  22  34  23
b  33  31  11
c  44  16  21
d  55  32  22
e  66  33  27
f  77  35  11
Ergebnis:

[('a', 22, 34, 23), ('b', 33, 31, 11)]

<div style="height: 500px" />

In [41]:
[1, "a"]

[1, 'a']

In [44]:
(1, "a", 1, 2, 45)

(1, 'a', 1, 2, 45)

In [43]:
{1, "a"}

{1, 'a'}