## SQL DDL und DML Aufgaben
<p>
<span>Gegeben seien folgende Relationen</span><br>
<img src="../resources/04_relationale_algebra/regatta.png"/>
</p>

Zuerst bereiten wir unsere Datenbank vor:

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('wettfahrt_ue.db')
cursor = c = conn.cursor()

with open('../resources/05_sql/wettfahrt.sql', 'r') as f:
    sql = f.read().replace('\n', '')

stmts = sql.split(";")

for query in stmts:
    cursor.execute(query)

Jetzt können wir SQL DQL Statements an unsere Datenbank richten:

In [2]:
query = "SELECT * FROM Bootsklasse "
pd.read_sql_query(query, conn)

      Klasse Bauart
0  Folkeboot   Holz
1     H-Boot    GFK
2   Optimist    GFK
3      Pirat   Holz

### Aufgabe 1

Formulieren Sie folgenden Ausdruck der relationalen Algebra zur angegebenen Datenbank in SQL.

1. ![ra1](../resources/05_sql/1_1.png)

In [3]:
query = "SELECT ...;"
#query = "SELECT * FROM Wettfahrt WHERE Name = 'Herbstmeister'"
pd.read_sql_query(query, conn)

DatabaseError: Execution failed on sql 'SELECT ...;': near ".": syntax error

Formulieren Sie folgenden Ausdruck der relationalen Algebra zur angegebenen Datenbank in SQL.

2. ![ra2](../resources/05_sql/1_2.png)

In [ ]:
query = "SELECT ...;"
pd.read_sql_query(query, conn)

### Aufgabe 2:

1. Aus welchem Material wurde das Boot mit der Segelnummer „GER 4318“ gebaut und welcher Klasse gehört es an?

In [81]:
query = "SELECT ...;"
pd.read_sql_query(query, conn)

RuntimeError: Parser: syntax error at or near ".." [8]

2. Wann starteten die Teilnehmer am „29.5.03“ und welche Boote der Klasse „Optimist“ nahmen an dieser Regatta teil?

In [ ]:
query = "SELECT ...;"
pd.read_sql_query(query, conn)

3. An welchen Wettfahrten haben ausschließlich Holzboote teilgenommen?

In [ ]:
query = "SELECT ...;"
pd.read_sql_query(query, conn)

4. Welche Bootsklassen nehmen am „Franz Huber Gedenk Preis“ oder am „Moorpokal“ teil?

In [ ]:
query = "SELECT ...;"
pd.read_sql_query(query, conn)

5. Welche Boote konnten das Rennen „Blaues Band“ nicht beenden („dnf“)?

In [ ]:
query = "SELECT ...;"
pd.read_sql_query(query, conn)

6. Wie viele Boote haben am „Franz Huber Gedenk Preis“ teilgenommen?

In [ ]:
query = "SELECT ...;"
pd.read_sql_query(query, conn)

7. An welchem Rennen nahm das älteste Boot im Starterfeld teil?

In [ ]:
query = "SELECT ...;"
pd.read_sql_query(query, conn)