# SQL DDL & DML

In diesem Notebook üben wir SQL DDL und DML. Dafür benutzen wir die eingebettete Datenbank [sqlite](https://docs.python.org/3/library/sqlite3.html).
Als erstes wollen wir unsere Datenbank initialiseren:

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('wettfahrt_intro.db')
cursor = c = conn.cursor()

Als nächstes wollen wir die Tabelle Bootsklasse erstellen:

In [ ]:
cursor.execute("CREATE TABLE Bootsklasse(Klasse CHAR(12) PRIMARY KEY, Bauart CHAR(12))")

Jetzt wollen wir ein neues Tupel in unsere Tabelle einfügen:

In [ ]:
cursor.execute("INSERT INTO Bootsklasse (Klasse, Bauart) VALUES ('Folkeboot', 'Holz')")

Man kann auch mehrere Tupel gleichzeitig in eine Tabelle einfügen:

In [ ]:
cursor.execute("INSERT INTO Bootsklasse (Klasse, Bauart) VALUES ('H-Boot', 'GFK'), ('Optimist', 'GFK'), ('Pirat', 'Holz')")

Nun wollen wir die eingefügten Tupel anzeigen lassen:

In [ ]:
query = "SELECT * FROM Bootsklasse"
pd.read_sql_query(query, conn)

Als letztes, wollen wir unsere Tabelle aktualisieren:

In [ ]:
cursor.execute("UPDATE Bootsklasse SET Bauart='GFK' WHERE Klasse='Folkeboot'")
query = "SELECT * FROM Bootsklasse"
pd.read_sql_query(query, conn)