## SQL DDL und DML Aufgaben
<p>
<span>Gegeben seien folgende Relationen</span><br>
<img src="../resources/04_relationale_algebra/regatta.png"/>
</p>
<p>
Im folgenden wollen wir zu jeder Relation eine Tabelle erstellen und in diese die zugehörigen Tupel einfügen.
</p>

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('ddl_dml.db')
cursor = c = conn.cursor()

In [6]:
query_create = "CREATE TABLE IF NOT EXISTS test(hello INT) "
cursor.execute(query_create)
query_insert = "INSERT INTO test VALUES (1)"
cursor.execute(query_insert)
query_select = "SELECT * FROM test "
pd.read_sql_query(query_select, conn)

   hello
0      1
1      1