## SQL DDL und DML Aufgaben
<p>
<span>Gegeben seien folgende Relationen</span><br>
<img src="../resources/05_sql/uni.png"/>
</p>

Zuerst bereiten wir unsere Datenbank vor:

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('uni.db')
cursor = c = conn.cursor()
with open('../resources/05_sql/uni.sql', 'r') as f:
    sql = f.read().replace('\n', '')

stmts = sql.split(";")

for query in stmts:
    cursor.execute(query)

Jetzt können wir SQL DML Statements an unsere Datenbank richten:

In [ ]:
query = "SELECT * FROM studenten"
pd.read_sql_query(query, conn)

### Aufgabe 3:
1. Studenten, die im zweiten Semester sind.

In [ ]:
query = "SELECT ..."
pd.read_sql_query(query, conn)

2. Namen aller Studenten, die im zweiten Semester sind.

In [ ]:
query = "SELECT ..."
pd.read_sql_query(query, conn)

3. Sämtliche Kombinationen aus Studenten und Hören.

In [ ]:
query = "SELECT ..."
pd.read_sql_query(query, conn)

4. Matrikelnummer aller Studenten, die keine Vorlesung hören.

In [ ]:
query = "SELECT ..."
pd.read_sql_query(query, conn)

5. Alle Studenten(Matrikelnummer, Name, Semester), die keine Vorlesung hören.

In [ ]:
query = "SELECT ..."
pd.read_sql_query(query, conn)

6. Namen aller Studenten und Professoren.

In [ ]:
query = "SELECT ..."
pd.read_sql_query(query, conn)

7. Alle Studenten, die mindestens eine Vorlesung hören.

In [ ]:
query = "SELECT ..."
pd.read_sql_query(query, conn)

8. Matrikelnummer aller Studenten und die Anzahl der von ihnen besuchten Vorlesungen.

In [ ]:
query = "SELECT ..."
pd.read_sql_query(query, conn)

9. Matrikelnummer aller Studenten und die Anzahl der von ihnen besuchten Vorlesungen, ausgegeben werden sollen auch die Matrikelnummern der Studenten, die keine Vorlesungen hören.

In [ ]:
query = "SELECT ..."
pd.read_sql_query(query, conn)

10. Alle Studenten, die weniger als drei Vorlesungen hören.

In [ ]:
query = "SELECT ..."
pd.read_sql_query(query, conn)