# Übungsprogrammieraufgabe: Operatoren der Relationalen Algebra implementieren

Im folgenden sollen die Operatoren der relationalen Algebra für pandas Dataframes implementiert werden.

Gehe hierbei davon aus, dass die Spalten der Dataframes benannt sind und ignoriert den Index der DataFrames.

In diesem ersten Snippet wird eine Funtion definiert, mit der du deine Lösungen später testen kannst. Du musst es dir nicht im Detail ansehen, sondern nur einmal ausführen.

In [ ]:
import pandas as pd
from pandas import DataFrame
from typing import *
from io import StringIO
import numpy as np

df = DataFrame([
     (11, 22, 34, 23),
     (11, 22, 31, 11),
     (13, 42, 16, 21),
     (55, 32, 71, 22),
     (66, 33, 19, 27),
     (13, 42, 31, 11)
     ], columns=list('abyz'))

df2 = DataFrame([
     (11, 22),
     (13, 42)
     ], columns=list('ab'))

df3 = DataFrame([
     (11, 22, 34, 23),
     (15, 22, 41, 11),
     (13, 42, 16, 21),
     (55, 32, 71, 22),
     (66, 34, 19, 27)
     ], columns=list('abyz'))

test = [('select("y > 30 and z <= 20", df)',
  'a,b,y,z\r\n11,22,31,11\r\n13,42,31,11\r\n'),
 ('project(["z", "y"], df)',
  'z,y\r\n23,34\r\n11,31\r\n21,16\r\n22,71\r\n27,19\r\n11,31\r\n'),
 ('rename(["a", "b", "c", "d"], df)',
  'a,b,c,d\r\n'
  '11,22,34,23\r\n'
  '11,22,31,11\r\n'
  '13,42,16,21\r\n'
  '55,32,71,22\r\n'
  '66,33,19,27\r\n'
  '13,42,31,11\r\n'),
 ('cross(df, df2)',
  'L_a,L_b,y,z,R_a,R_b\r\n'
  '11,22,34,23,11,22\r\n'
  '11,22,34,23,13,42\r\n'
  '11,22,31,11,11,22\r\n'
  '11,22,31,11,13,42\r\n'
  '13,42,16,21,11,22\r\n'
  '13,42,16,21,13,42\r\n'
  '55,32,71,22,11,22\r\n'
  '55,32,71,22,13,42\r\n'
  '66,33,19,27,11,22\r\n'
  '66,33,19,27,13,42\r\n'
  '13,42,31,11,11,22\r\n'
  '13,42,31,11,13,42\r\n'),
 ('union(df, df3)',
  'a,b,y,z\r\n'
  '11,22,34,23\r\n'
  '11,22,31,11\r\n'
  '13,42,16,21\r\n'
  '55,32,71,22\r\n'
  '66,33,19,27\r\n'
  '13,42,31,11\r\n'
  '11,22,34,23\r\n'
  '15,22,41,11\r\n'
  '13,42,16,21\r\n'
  '55,32,71,22\r\n'
  '66,34,19,27\r\n'),
 ('minus(df, df3)', 'a,b,y,z\r\n11,22,31,11\r\n66,33,19,27\r\n13,42,31,11\r\n'),
 ('intersect(df, df3)',
  'a,b,y,z\r\n'
  '11,22,34,23\r\n'
  '11,22,31,11\r\n'
  '13,42,16,21\r\n'
  '55,32,71,22\r\n'
  '66,33,19,27\r\n'
  '13,42,31,11\r\n'),
 ('join(df, df2)',
  'a,b,y,z\r\n11,22,34,23\r\n11,22,31,11\r\n13,42,16,21\r\n13,42,31,11\r\n'),
 ('join(df, df2, theta="z == R_b")',
  'L_a,L_b,y,z,R_a,R_b\r\n55,32,71,22,11,22\r\n'),
 ('divide(df, df2)', 'y,z\r\n31,11\r\n')]

def validate(i):    
    query, solution = test[i]
    print(f'test {i}: {query}')
    expected = pd.read_csv(StringIO(solution)).reset_index(drop=True)
    actual = eval(query).reset_index(drop=True)
    try:
        pd.testing.assert_frame_equal(expected, actual)
        print('OK')
    except:
        print('expected')
        print(expected)
        print('actual')
        print(actual)
        raise

## 1. Basisoperatoren

### 1.1 $\sigma$ (Sigma) wie Selektion

*Hinweis:* Der Prädikatstring ist ein beliebiger boolescher Ausdruck über die Attribute einer Entity. Du kannst die Funktion `eval` benutzen um diesen String auszuwerten. Benutze das optionale Argument `locals` um die Werte der Variablen des Ausdrucks zu übergeben. Zum Beispiel:

In [ ]:
eval('a < 10', {'a':3})

In [ ]:
def select(predicate:str, relation:DataFrame) -> DataFrame:
    #TODO: implement
    return relation

In [ ]:
validate(0)

### 1.2 $\pi$ (Pi) wie Projektion

In [ ]:
def project(attributes:List[str], relation:DataFrame) -> DataFrame:
    #TODO: implement
    return relation

In [ ]:
validate(1)

### 1.3 $\rho$ (Rho) wie rename (umbenennen)

In [ ]:
def rename(new_attribute_names:List[str], relation:DataFrame) -> DataFrame:
    #TODO: implement
    return relation

In [ ]:
validate(2)

### 1.4 $\times$ Kreuzprodukt

In [ ]:
def cross(left:DataFrame, right:DataFrame) -> DataFrame:
    #TODO: implement
    return relation

In [ ]:
validate(3)

### 1.5 $\cup$ Vereinigung

In [ ]:
def union(left:DataFrame, right:DataFrame) -> DataFrame:
    #TODO: implement
    return relation

In [ ]:
validate(4)

### 1.6 $-$ Differenz

In [ ]:
def minus(left:DataFrame, right:DataFrame) -> DataFrame:
    #TODO: implement
    return relation

In [ ]:
validate(5)

## 2. Abgeleitete Operatoren

*Hinweis:* Die abgeleiteten Operatoren heißen so, weil man sie von den Basisoperatoren ableiten kann.

### 2.1 $\cap$ Schnitt

In [ ]:
def intersect(left:DataFrame, right:DataFrame) -> DataFrame:
    #TODO: implement
    return left

In [ ]:
validate(6)

### 2.2 $\bowtie$ Natural Join, $\bowtie_{\theta}$ Theta Join
Wenn das optionale Argument `theta` leer ist, soll ein natural join durchgeführt werden.

In [ ]:
def join(left:DataFrame, right:DataFrame, theta:str='', outer:bool=False) -> DataFrame:
    #TODO: implement
    return left

In [ ]:
validate(7)
validate(8)

### 2.3 $/$ Division

In [ ]:
def divide(left:DataFrame, right:DataFrame) -> DataFrame:
    #TODO: implement
    return left

In [ ]:
validate(9)

## VV Bei Bedarf: Alle Tests ausführen VV

In [ ]:
# Alle Lösungen mittels implementierter Funktionen generieren:
x = []
divide(df, df2)
for q, _ in test:
    print(q)
    x.append((q, eval(q).to_csv(index=False)))
    
from pprint import pprint
pprint(x)

# Alle Tests ausführen:
for i in range(10):
    validate(i)